@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.venue-block {
  position: relative;
  &-img {
    position: absolute;
    left: 600px;
    top: 41px;
    height: 450px;
    width: 800px;
    border: 1px solid $green;
    background: #C0DBFF url(/venue.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: luminosity;
    img {
      display: none;
    }
  }
  &-name {
    @include block-name;
  }
  &-text {
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
      margin: 29px 0 41px;
    }
    &-button {
      @include block-button;
      a {
        @include underlined-link
      }
    }
  }
}

@media (min-width: 1600px) {
  .venue-block {
    .container {
      position: static;
    }
    &-img {
      right: -5px;
      left: auto;
    }
  }
}

@media (max-width: 1160px) {
  .venue-block {
    &-img {
      position: static;
      width: 450px;
      height: 253px;
      margin-left: 120px;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 764px) {
  .venue-block {
    &-img {
      width: 100%;
      height: 0;
      padding-bottom: 56%;
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .venue-block {
    &-img {
      width: calc(100% + 180px);
      margin-left: -90px;
      height: 0;
      padding-bottom: calc(56% + 180px*0.56);
    }
  }
}
