@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.venue-block {
  position: relative;
  &-img {
    position: absolute;
    right: -5px;
    max-width: 40%;
    top: 41px;
    max-height: 430px;
    border: 1px solid $green;
  }
  &-name {
    @include block-name;
  }
  &-text {
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
      padding-left: 90px;
      margin: 29px 0 41px;
      width: 440px;
      line-height: 30px;
    }
    &-button {
      padding-left: 90px;
      margin-top: 55px;
      a {
        @include underlined-link
      }
    }
  }
}
