@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.invitation-block {
  &-name {
    @include block-name;
  }
  &-text {
    margin-bottom: 100px;
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
    }
    &-button {
      @include block-button;
    }
  }
  &-video {
    max-height: 451px;
    max-width: 800px;
    position: relative;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      max-height: 451px;
      max-width: 800px;
    }
  }

  .signing-up {
    font-weight: bold;
    font-style: italic;
  }
}

@media screen and (min-width: 1025px) {
  .invitation-block {
    &-video {
      height: 451px;
      width: 800px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .invitation-block {
    &-video {
      padding-bottom: 56%;
    }
  }
}

@media screen and (max-width: 480px) {
  .invitation-block {
    &-video {
      margin-left: -70px;
      width: calc(100% + 140px);
      padding-bottom: calc(56% + 140px*0.56);
    }
  }
}
