@import '../../shared/styles/colors';

.header-menu {
  width: 582px;
  margin-right: 102px;
  padding-top: 39px;
  box-sizing: border-box;
  border-left: 1px solid $green;
  line-height: 47px;
  height: 80px;
  &-inner {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $green;
    a {
      color: $white;
      text-transform: uppercase;
      font-weight: 100;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      letter-spacing: 4.5px;
      font-size: 14px;
      &.-active,
      &:hover {
        color: $green
      }
    }
  }
}
