@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.header-menu {
  width: 700px;
  margin-right: 87px;
  padding-top: 39px;
  box-sizing: border-box;
  border-left: 1px solid $green;
  line-height: 47px;
  height: 80px;

  position: absolute;
  right: 0;
  z-index: 1;
  &-expand {
    display: none;
  }
  &-inner {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $green;
    a {
      outline: none;
      color: $white;
      text-transform: uppercase;
      font-weight: 100;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      letter-spacing: 4.5px;
      font-size: 14px;
      &.-active,
      &:hover {
        color: $green
      }
    }
  }
  &-overlay {
    display: none;
  }
  a.-disabled {
    pointer-events: none;
    text-decoration: line-through;
  }
}


@media (max-width: 1300px) {
  .header-menu {
    position: static;
    width: 100%;
    border-left: none;
    padding-top: 0;
    height: 40px;
    border-bottom: 1px solid $green;
    &-inner {
      @include container-fluid;
      border-top: none;
      border-right: 1px solid $green;
      border-left: 1px solid $green;
    }
  }
}
@media screen and (max-width: 900px) {
  .header-menu {
    height: 48px;
    line-height: 48px;
    &-expand {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 110;
      position: relative;
      &-btn {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.5px;
        cursor: pointer;
        color: $white;
        user-select: none;
        text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.19);
        display: inline-block;
        padding: 0;
        &:hover {
          color: $green;
        }
      }
    }
    &-inner {
      display: none;
    }
    &-overlay {
      display: flex;
      opacity: 0;
      transition: opacity 250ms;
      transition-delay: 50ms;
      a {
        transform: scaleY(0);
      }
    }
    &.-expanded {
      position: fixed;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      background-color: rgba(57, 68, 237, 1);
      height: auto;
      z-index: 100;
      .header-menu-expand {
        border-bottom: 1px solid $green;
      }
      .header-menu-overlay {
        opacity: 1;
        z-index: 105;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        a {
          text-align: center;
          display: block;
          line-height: 30px;
          font-size: 30px;
          font-weight: 400;
          color: $green;
          border-bottom: 1px solid $green;
          padding: 40px 0;
          -webkit-font-smoothing: antialiased;
          letter-spacing: 0.95px;
          background-color: $blue;
          overflow: hidden;
          transition: transform 150ms;
          transform-origin: 50% 50% 0;
          transform: scaleY(1);
          &:hover {
            color: $white;
            background: $green;
          }

          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition-delay: #{200+($i*50)}ms;
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header-menu {
    border-bottom: none;
    &.-expanded {
      .header-menu-overlay {
        a {
          padding: 25px 0;
          line-height: 25px;
          font-size: 25px;
        }
      }
    }
  }
}
