@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.devdo-block {
  display: flex;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .devdo-block-video {
      margin-left: 105px;
    }
  }

  &:nth-child(2n+1) {
    .devdo-block-video {
      margin-right: 105px;
    }
  }

  &-video {
    flex: 2 0 0;

    &-box {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-text-box {
    flex: 1 0 0;

    .title-box {
      display: flex;
      justify-content: flex-end;

      h3 {
        flex-basis: 0;
        font-size: 45px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 2px;
        -webkit-font-smoothing: antialiased;
        margin-top: 5px;
        margin-left: auto;
      }
    }

    p {
      @include block-text;
      font-weight: 500;
      width: auto;
      padding: 0;
    }

    .buy-tickets {
      margin-top: 25px;
    }
  }

  .anchor {
    margin: 0;
    padding: 0 0 1px;
  }
}

@media screen and (max-width: 990px) {
  .devdo-block {
    &:nth-child(2n) {
      .devdo-block-video {
        margin-left: 60px;
      }
    }
    &:nth-child(2n+1) {
      .devdo-block-video {
        margin-right: 60px;
      }
    }
  }
}

@media screen and (max-width: 900px) and (max-width: 801px) {
  .devdo-block, .devdo-block:nth-child(2n) {
    flex-direction: column-reverse;

    &:nth-child(2n) .devdo-block-video {
      margin-left: 0;
    }

    &:nth-child(2n+1) .devdo-block-video {
      margin-right: 0;
    }

    .anchor {
      order: 1;
    }

    .title-box h3 {
      font-size: 40px;
      flex-basis: auto;
    }

    .buy-tickets {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 600px) {
  .devdo-block {

    .title-box h3 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 440px) {
  .devdo-block-text-box { 
    .devdo-block-text > h3 {
      font-size: 36px;
    }
  }
}
