@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.speaker-block {
  h2 {
    @include block-header;
  }
  &-cols {
    display: flex;
    flex-direction: row-reverse;
  }
  &-img {
    position: relative;
    margin-top: 45px;
    img {
      width: 440px;
      border: 1px solid $green;
    }

    .social-icons {
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      right: -45px;
      top: 8px;

      a {
        text-decoration: none;
        color: $white;
        height: 35px;
        cursor: pointer;
        &:hover i {
          color: $green;
        }
      }
    }
  }
  &-text {
    padding-right: 60px;
    margin-right: auto;
    h3 {
      font-size: 45px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 2px;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0;
      .speaker-first-name,
      .speaker-last-name {
        color: $white;
        display: block;
        line-height: 45px;
      }
    }
    p {
      @include block-text;
    }
  }
  .speaker-position {
    margin-top: 45px;
  }
  .speaker-company {
    margin-bottom: -6px;
  }
  .speaker-position,
  .speaker-company {
    text-transform: uppercase;
    display: block;
    line-height: 24px;
  }
  &:nth-child(1) {
    height: 765px;
  }
  &:nth-child(2) {
    height: 945px;
  }

  &:nth-child(2n+1) {
    .speaker-block-cols {
      flex-direction: row;
    }
    .speaker-block-img {
      .social-icons {
        left: -45px;
        right: auto;
        top: 8px;
      }
    }
    .speaker-block-text {
      h3 {
        padding-left: 230px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .speaker-block {
    &-img {
      img {
        width: 318px;
      }
    }
    &-text {
      p {
        width: auto;
      }
    }
    &:nth-child(1) {
      height: 720px;
    }
    &:nth-child(2) {
      height: 810px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .speaker-block {
    &:nth-child(1) {
      height: 855px;
    }
    &:nth-child(2) {
      height: 945px;
    }
  }
}


@media screen and (max-width: 1080px) {
  .speaker-block {
    &:nth-child(1) {
      height: 945px;
    }
    &:nth-child(2) {
      height: 1080px;
    }
  }
}


@media screen and (max-width: 990px) {
  .speaker-block {
    &-img {
      img {
        width: 260px;
      }
    }
    &:nth-child(2n) {
      .speaker-block-text {
        padding-right: 60px
      }
    }
    &:nth-child(2n+1) {
      .speaker-block-text {
        padding-right: 0;
        padding-left: 60px;
        h3 {
          padding-left: 170px;
        }
      }
    }
    &:nth-child(1) {
      height: 810px;
    }
    &:nth-child(2) {
      height: 945px;
    }
  }
}

@media screen and (max-width: 900px) {
  .speaker-block {

    &:nth-child(1),
    &:nth-child(2) {
      height: auto;
    }
    padding-bottom: 90px !important;
  }
}

@media screen and (max-width: 800px) {
  .speaker-block {
    &-img {
      img {
        width: 170px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .speaker-block {
    padding-bottom: 50px !important;
    &-cols {
      flex-direction: column !important;
    }
    &-img {
      margin-bottom: 25px;
      img {
        width: 100%;
      }
    }
    &:nth-child(2n+1) {
      .speaker-block-text {
        padding-left: 0;
        h3 {
          padding-left: 0;
        }
      }
    }
  }
}
