@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.speakers-block {
  &-name {
    @include block-name;
  }
  &-text {
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
      padding-left: 120px;
      margin: 25px 0;
      width: 450px;
      line-height: 33px;
    }
    &-button {
      padding-left: 125px;
      margin-top: 40px;
      > a {
        @include animated-button
      }
    }
  }
}
