.-text-uppercase {
  text-transform: uppercase;
}

.-text-semibold {
  font-weight: 400 !important;
}

.-no-outline {
  outline: none !important;
}

.-drop-shadow {
  -webkit-box-shadow: 40px 17px 30px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 40px 17px 30px 0 rgba(0,0,0,.15);
  box-shadow: 40px 17px 30px 0 rgba(0,0,0,.15);
}
