@import '../../shared/styles/colors';

.event {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 135px;
  box-sizing: border-box;
  padding-top: 45px;
  &:first-child {
    padding-top: 0;
  }
  &::after {
    display: block;
    content: ' ';
    border-bottom: 1px solid $grey;
    position: absolute;
    left: 60px;
    right: 45px;
    bottom: 0;
    height: 0;
  }
  .time {
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    transform: translateY(16px);
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    flex: 1 1 0;
    > .hours {
      letter-spacing: 0.79px;
      font-size: 15px;
      display: inline-block;
      margin-right: 5px;
    }
    > .minutes {
      letter-spacing: 0.64px;
      font-size: 12px;
      transform: translateY(-5px);
      display: inline-block;
    }
  }
  .info-wrapper {
    flex: 1 1 0;
    margin-bottom: 90px;
    margin-right: 45px;
    overflow: hidden;
    max-height: 225px;
    transition: max-height 0.25s ease-in;
    position: relative;
    &::after {
      bottom: 1px;
      position: absolute;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(bottom, rgba(58,71,228,1) 0%, rgba(58,71,228,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba(58,71,228,1) 0%,rgba(58,71,228,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(58,71,228,1) 0%,rgba(58,71,228,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      opacity: 1;
      height: 40px;
      display: block;
      content: ' ';
      transition: opacity 0.25s ease-in;
    }
    .title-wrapper {
      display: flex;
      flex-direction: row;
      transform: translateY(20px);
      .speaker-img {
        flex: 0 0 auto;
        width: 81px;
        height: 92px;
        border: 1px solid $green;
        overflow: hidden;
        margin: 0 18px 18px 0;
        > img {
          height: 100%;
        }
      }
      .info-description {
        &-title {
          letter-spacing: 0.79px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          -webkit-font-smoothing: antialiased;
          line-height: 26px;
          color: $white;
          margin: 0;
          transform: translateY(8px);
          word-break: break-word;
          > span {
            font-weight: 100;
          }
        }
        &-speaker {
          font-weight: 400;
          font-size: 14px;
          -webkit-font-smoothing: antialiased;
          display: block;
          opacity: .7;
          letter-spacing: 0.74px;
          padding: 10px 0 0;
          color: $white;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .description {
    letter-spacing: 0.79px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    line-height: 32px;
    transform: translateY(11px);
    > p {
      line-height: 32px;
      margin: 15px 0 0;
    }

  }
  .event-read-more {
    color: $green;
    outline: none;
    position: absolute;
    left: 60px;
    bottom: 35px;
    letter-spacing: 3.51px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    transition: opacity 0.25s ease-in;
    &:hover {
      color: $white;
    }
  }
  &.-opened {
    .info-wrapper {
      max-height: 1000px;
      &::after {
        opacity: 0;
      }
    }
    .event-read-more {
      opacity: 1;
    }
  }
  &.-read-more-hidden {
    .info-wrapper {
      margin-bottom: 0;
      max-height: none;
      &::after {
        display: none;
      }
    }
  }
  &.-no-description {
    .title-wrapper {
      .speaker-img {
        margin: 0 18px 45px 0;
        cursor: pointer;
      }
    }
  }
  .anchor {
    position: absolute;
  }
}

@media screen and (max-width: 640px) {
  .event {
    flex-direction: column;
    padding-top: 0;
    min-height: 225px;
    &.height135 {
      min-height: 135px;
    }
    &.height270 {
      min-height: 270px;
    }
    &:after {
      left: 0;
      right: 10px;
    }
    &.-opened {
      .info-wrapper {
        padding-bottom: 90px;
        overflow: visible;
      }
      .description.-can-show-more {
        opacity: 1;
      }
    }
    &:not(-opened) {
      .description.-can-show-more {
        opacity: 0;
      }
    }
    .event-read-more {
      left: 100px;
    }
    .info-wrapper {
      margin-bottom: 0;
      margin-right: 10px;
    }
    .time {
      max-height: 45px;
    }

  }
}
