@import '../shared/styles/mixins';

.page-diversity-tickets {
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 45px;
  h2 {
    @include block-header;
  }
  p {
    @include block-text;
  }
  .link-wix-logo {
    position: relative;
    float: right;
    z-index: 1;
    outline: none;
    display: block;
    width: 300px;
    padding-top: 12px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .page-diversity-tickets {
    .link-wix-logo {
      float: none;
    }
  }
}

@media (max-width: 764px) {
  .page-diversity-tickets {
    > section {
      h3, h2 {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}
