@import '../shared/styles/colors';

.page-index {
  overflow: hidden;
  padding-bottom: 70px;
  .speakers-block {
    margin-top: 150px;
  }
  .venue-block {
    margin-top: 150px;
  }
  .sponsors-block {
    margin-top: 150px;
  }
}
