@import '../shared/styles/colors';

.page-index {
  overflow: hidden;
  .articles {
    margin-top: 45px;
    .venue-block {
      margin-top: 170px;
    }
    .sponsors-block {
      margin-top: 185px;
      margin-bottom: 50px;
    }
  }
}
