@import '../shared/styles/mixins';

.page-promo {
  padding-top: 90px;
  padding-bottom: 45px;

  .discuss-button {
    @include animated-button;
    box-sizing: border-box;
    width: auto;
    padding: 0 15px;
    margin-top: 70px;
  }

  .promo-title {
    @include block-header;
  }

  .devdo-list {
    display: grid;
    grid-row-gap: 150px;
    margin-top: 90px;
  }

  .devdo-block-text a {
    color: $green;
    outline: none;
    &:hover {
      color: $white;
    }
  }
}

@media screen and (max-width: 900px) and (max-width: 801px) {
  .page-promo {
    .devdo-list {
      grid-row-gap: 70px;
    }

    .devdo-list {
      margin-top: 55px;
    }
  }
}

@media screen and (max-width: 600px) {
  .page-promo {
    .devdo-list {
      grid-row-gap: 50px;
    }

    .devdo-list {
      margin-top: 45px;
    }
  }
}

@media screen and (max-width: 440px) {
  .page-promo {
    .devdo-list {
      grid-row-gap: 35px;
    }

    .discuss-button {
      line-height: 20px;
      height: 48px;
      padding-top: 6px;
    }
  }
}