@import '../shared/styles/mixins';
@import '../shared/styles/colors';

@mixin day-title {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2.73px;
  margin: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(16px);
  -ms-transform: translateY(16px);
  transform: translateY(16px);
  color: $green;
  line-height: 45px;
}
@mixin day-date {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  letter-spacing: 2.25px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  color: $green;
}

.page-schedule {
  padding-top: 45px;
  padding-bottom: 45px;
  h2 {
    @include block-header;
    margin: 0 0 45px 35px;
  }
  .ordered-block {
    margin-top: 45px;
  }

  .days-menu-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    transform: translateY(0);
    z-index: 100;
    opacity: 1;
    transition: opacity .25s;
    &.-sticky {
      position: fixed;
      top: 0;
      background: rgba(58, 71, 228, 0.9);
      .days-menu {
        width: calc(100% - 170px);
        max-width: 1150px;
        box-sizing: border-box;
        margin: auto;
      }
    }
    &.-hidden {
      opacity: 0;
    }
  }
  .day-25-header {
    border-bottom: 1px solid $green;
    height: 90px;
    box-sizing: border-box;
    margin: 0 45px 0 5px;
    .title {
      @include day-title;
    }
    .date {
      @include day-date;
    }
  }
  .days-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 60px;
    li {
      width: 50%;
      -ms-flex: 1 auto 0;
      flex: 1 auto 0;
      transition: opacity 0.25s;
      cursor: pointer;
      border-bottom: 1px solid $green;
      height: 90px;
      box-sizing: border-box;
      .title {
        @include day-title;
      }
      .date {
        @include day-date;
      }
      &.-inactive {
        opacity: 0.3;
      }
    }
  }
  .day {
    padding-top: 90px;
    padding-left: 40px;
    transition: opacity 0.25s;
    opacity: 1;
    &.day-25 {
      margin-top: 45px;
      position: relative;
    }
    .event-holder {
      z-index: 2;
      position: relative;
      .event:after {
        z-index: 2;
      }
    }
    .event-holder.-isCurrent {
      background-color: $grey-bg;
      margin: -1px 0 0 -40px;
      padding: 1px 0 0 40px;
      z-index: 5;
      .info-wrapper:after {
        background: linear-gradient(to top, $grey-bg 0%, rgba(58, 71, 228, 0) 100%);
      }
      .event {
        &:after {
          border-color: $grey-bg;
          z-index: 5;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .page-schedule {
    .container-fluid {
      width: calc(100% - 30px);
    }
    .days-menu-wrapper {
      &.-sticky {
        .days-menu {
          width: calc(100% - 30px);
        }
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .schedule {
    .day {
      width: 100%;
    }
    .day.inactive {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 640px) {
  .page-schedule {
    h2 {
      margin-left: 10px;
    }
    .day-25-header {
      margin: 0 10px 0 0;
    }
    .days-menu {
      padding: 0 25px;
    }
    .day {
      padding-left: 10px;

      .event-holder.-isCurrent {
        margin: -1px -10px 0 -20px;
        padding: 1px 10px 0 20px;

        .event {
          &.emoji {
            .time-box {
              margin-left: 23px;
            }  
          }
        }

        .time-box {
          .now {
            display: none;
          }
        }
      }
      &.day-25 {
        &::before {
          right: -60px;
          left: -60px;
        }
      }
    }
    .event-speaker-data-img {
      .social-icons {
        right: -40px;
        left: auto;
      }
    }
  }
}


@media screen and (max-width: 320px) {
  .page-schedule {
    .days-menu {
      li {
        .title {
          font-size: 22px;
        }
      }
    }
  }
}
