@import '../shared/styles/mixins';
@import '../shared/styles/colors';

.page-schedule {
  padding-top: 45px;
  padding-bottom: 45px;
  h2 {
    @include block-header;
    margin: 0 0 45px 35px;
  }
  .ordered-block {
    margin-top: 45px;
  }

  .days-menu-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    transform: translateY(0);
    z-index: 100;
    opacity: 1;
    transition: opacity .25s;
    &.-sticky {
      position: fixed;
      top: 0;
      background: rgba(58, 71, 228, 0.9);
      .days-menu {
        width: calc(100% - 170px);
        max-width: 1150px;
        box-sizing: border-box;
        margin: auto;
      }
    }
    &.-hidden {
      opacity: 0;
    }
  }
  .days-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 60px;
    li {
      width: 50%;
      -ms-flex: 1 auto 0;
      flex: 1 auto 0;
      transition: opacity 0.25s;
      cursor: pointer;
      border-bottom: 1px solid $green;
      height: 90px;
      box-sizing: border-box;
      .title {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 2.73px;
        margin: 0;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
        transform: translateY(16px);
        color: $green;
        line-height: 45px;
      }
      .date {
        font-family: "Libre Baskerville", serif;
        font-size: 12px;
        letter-spacing: 2.25px;
        height: 45px;
        line-height: 45px;
        padding: 0;
        margin: 0;
        font-style: italic;
        font-weight: 100;
        -webkit-font-smoothing: antialiased;
        color: $green;
      }
      &.-inactive {
        opacity: 0.3;
      }
    }
  }
  .day {
    padding-top: 90px;
    padding-left: 40px;
    transition: opacity 0.25s;
    opacity: 1;
    &.day-25 {
      margin-top: 45px;
      position: relative;
      &::before {
        display: block;
        content: ' ';
        border-top: 1px solid $grey;
        position: absolute;
        top: 45px;
        left: 45px;
        right: 45px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .page-schedule {
    .container-fluid {
      width: calc(100% - 30px);
    }
    .days-menu-wrapper {
      &.-sticky {
        .days-menu {
          width: calc(100% - 30px);
        }
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .schedule {
    .day {
      width: 100%;
    }
    .day.inactive {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 640px) {
  .page-schedule {
    h2 {
      margin-left: 10px;
    }
    .days-menu {
      padding: 0 10px;
    }
    .day {
      padding-left: 10px;
      &.day-25 {
        &::before {
          right: -60px;
          left: -60px;
        }
      }
    }
    .days-menu-wrapper {
      &.-sticky {
        .days-menu {
          width: calc(100% - 60px);
        }
      }
    }
  }
}
