@import '../shared/styles/mixins';

.page-speakers {
  padding-top: 90px;
  padding-bottom: 45px;

  h2 {
    @include block-header;
    margin-bottom: 17px;
  }

  .person-block-text a {
    color: $green;
    outline: none;
    &:hover {
      color: $white;
    }
  }
}
