@import '../shared/styles/mixins';

.page-sponsors {
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 45px;
  h2 {
    @include block-header;
    margin-bottom: 45px;
  }
  p {
    @include block-text;
    padding: 24px 0 21px 0;
  }
  ._full-width {
    width: 100%;
  }

  .sponsor {
    display: flex;
    flex-direction: column;
    > .img-holder {
      display: flex;
      > img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .sponsors-holder {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    > .sponsor {
      box-sizing: border-box;
      width: 50%;
      padding-left: 120px;
      &.-astound,
      &.-grammarly {
        min-height: 630px;
      }
      &.-jetbrains,
      &.-my-heritage {
        min-height: 540px;
      }
      .img-holder {
        height: 133px;
        max-width: 50%;
      }
    }
  }

  .secondary-sponsors-holder {
    display: flex;
    flex-wrap: wrap;
    .sponsor {
      width: 33%;
      align-items: center;
      .img-holder {
        width: 100px;
        height: 133px;
        align-items: center;
      }
      &.-forweb {
        .img-holder > img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  .page-sponsors {
    .sponsors-holder {
      margin: 0 -10px;
      .sponsor {
        padding: 0 10px 0 80px;
        .img-holder {
          margin-left: 80px;
        }
        p {
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .page-sponsors {
    .sponsors-holder {
      margin: 0 -10px;
      .sponsor {
        padding: 0 10px;
        .img-holder {
          margin-left: 0 !important;
        }
        h3, h2, p {
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .page-sponsors {
    h2 {
      text-align: center;
    }
    .sponsors-holder {
      flex-direction: column;
      margin: 0;
      .sponsor {
        align-items: center;
        width: 100% !important;
        padding: 0;
        min-height: 100px !important;
        .img-holder {
          margin-left: 0 !important;
        }
        h3, h2, p {
          padding-left: 0;
        }
      }
    }
    .secondary-sponsors-holder {
      .sponsor {
        width: 50%;
      }
    }
  }
}

