@import '../shared/styles/mixins';

.page-sponsorship {
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 45px;
  h2 {
    @include block-header;
  }
  p,
  ul {
    @include block-text;
  }
  ._full-width {
    width: 100%;
  }
}


@media (max-width: 764px) {
  .page-sponsorship {
    > section {
      h3, h2 {
        padding-left: 0;
      }
    }
  }
}
