@import '../../shared/styles/colors';

@mixin bordered-sides {
  border-left: 1px solid $green;
  border-right: 1px solid $green;
}
@mixin bordered-bottom {
  border-bottom: 1px solid $green;
}
@mixin remove-side-borders {
  border-left: none;
  border-right: none;
}
$bottom-padding: 42px;

.header {
  width: 100%;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  padding-bottom: $bottom-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  &-title {
    @include bordered-bottom;

    font-size: 22px;
    letter-spacing: 0.07px;
    .container-fluid {
      @include bordered-sides;
      padding-top: 50px;
      min-height: 80px;
      line-height: 27px;
    }
    a {
      font-weight: 100;
      color: $white;
      text-decoration: none;
    }
  }
  &-description {
    @include bordered-bottom;
    line-height: 40px;
    letter-spacing: 0.27px;
    .container-fluid {
      padding-top: 4px;
      @include bordered-sides;
    }
  }
  &-date-location {
    @include bordered-bottom;

    line-height: 40px;
    letter-spacing: 0.05px;
    .container-fluid {
      @include bordered-sides;
      display: block;
      padding-right: 200px;
      padding-top: 4px;
    }
    strong {
      font-weight: 700;
    }
  }
  .buy-tickets {
    position: absolute;
    right: 85px;
    bottom: $bottom-padding + 1px;
  }
}

@media (max-width: 1300px) {
  .header {
    &-title {
      .container-fluid {
        // uncomment when menu is visible
        padding-top: 15px;
        min-height: 45px;
        line-height: 27px;
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .header {
    .buy-tickets {
      right: 45px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    text-align: center;
    &-title {
      order: 1;
      .container-fluid {
        @include remove-side-borders;
        padding: 21px 0 14px;
        min-height: 0;
        a {
          font-weight: 100;
          span {
            display: block;
          }
        }
      }
    }
    &-description {
      order: 3;
      border-bottom: none;
      .container-fluid {
        @include remove-side-borders;
        line-height: 23px;
        padding: 16px 0;
      }
    }
    &-date-location {
      order: 2;
      .container-fluid {
        @include remove-side-borders;
        padding: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        span {
          display: none;
        }
      }
    }
    .buy-tickets {
      order: 4;
      position: relative;
      display: block;
      right: 0;
      bottom: 0;
      margin: 15px auto 0;
    }
  }
}
