@import '../../shared/styles/colors';

.app-footer {
  display: flex;
  flex: 1 1 auto;
  align-self: flex-end;
  position: relative;
  width: 100%;
}

.footer {
  flex: 1;
  background: $footer-bg;
  box-shadow: 3px -25px 67px 0 rgba(0,0,0,0.12);
  color: $footer-blue;
  padding-top: 100px;
  padding-bottom: 90px;
  .row {
    > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-subscribe {
    padding-bottom: 45px;
    border-bottom: 1px solid $footer-blue;
  }
  &-contacts {
    font-size: 16px;
    padding-top: 30px;
  }
  strong {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    display: inline-block;
    font-weight: 700;
  }
  p {
    margin: 0;
    padding-top: 22px;
    letter-spacing: 0.5px;
    line-height: 36px;
    padding-bottom: 17px;
  }

  a {
    font-weight: 400;
    color: $footer-blue;
    text-decoration: none;
    outline: none;
  }

  a:hover {
    color: $green;
  }

  a.footer-mailto {
    font-weight: 100;
  }

  &-links {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  &-links a {
    min-width: 165px;
    flex: 1 auto;
    display: inline-block;
    text-decoration: none;
    color: var(--yglf-blue);
    padding: 5px 0;
    margin-bottom: 3px;
    font-weight: 100;
  }

  .social-icons {
    float: right;
    margin-top: -5px;
  }

  .social-icons a {
    margin-left: 10px;
  }
}
