@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.speakers-intro-block {
  height: 405px;
  overflow: hidden;
  &-name {
    @include block-name;
  }
  &-text {
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
      line-height: 33px;
    }
    &-button {
      @include block-button;
      padding-top: 10px;
      > a {
        @include animated-button
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .speakers-intro-block {
    height: auto;
    padding-bottom: 115px !important;
  }
}

@media screen and (max-width: 380px) {
  .speakers-intro-block {
    &-text {
      &-button {
        padding-top: 13px;
      }
    }
  }
}
