@import '../shared/styles/colors';
@import '../shared/styles/mixins';

// Font faces
@font-face {
  font-family: SofiaPro;
  src: url(/fonts/Sofia-Pro-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: SofiaPro;
  src: url(/fonts/Sofia-Pro-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: SofiaPro;
  src: url(/fonts/Sofia-Pro-Bold.otf);
  font-weight: 700;
}

// Shared classes
.container {
  @include container;
}

.container-fluid {
  @include container-fluid
}

.lines-bg {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=') repeat;
}

.green-line {
  width: 100%;
  border-bottom: 1px solid $green;
  height: 0;
  opacity: 0.3;
}


// Main layout
body {
  font-family: SofiaPro, Helvetica Neue, sans-serif;
  font-weight: 100;
  color: $white;
  background: $blue;
  font-size: 17px;
}

@media (max-width: 480px) {
  body {
    .app {
      display: flex;
      flex-direction: column;
      > .header-menu {
        order: 1;
      }
      > .intro {
        order: 2;
      }
      > .header {
        order: 3;
      }
      > .body {
        order: 10;
      }
      > .footer {
        order: 100;
      }
    }
  }
}
