@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.workshops {
  h2 {
    @include block-header;
  }

  h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
  }

  .workshop {
    display: flex;
    flex-direction: row;
    padding-left: 124px;
    .buy-tickets {
      width: auto;
      padding: 0 20px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    .column {
      padding-top: 45px;
      &:last-child {
        padding-left: 40px;
      }
      ul li {
        padding: 5px 15px;
        font-weight: 100;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
      }
    }
    .workshop-author {
      font-size: 15px;
      font-weight: 100;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      line-height: var(--cell);
      letter-spacing: 2.47px;
      margin: 0;
      padding-top: 46px;
    }

    .workshop-title {
      margin: 0;
    }

    .workshop-description,
    .additional-info {
      padding-top: 9px;
      font-size: 15px !important;
      font-weight: 100;
      line-height: 33px;
      letter-spacing: 0.9px;
      -webkit-font-smoothing: antialiased;
    }

    .additional-info {
      margin-bottom: 10px;
    }

    .workshop-desc-list {
      padding-left: 15px;
    }

    .workshop-image {
      display: flex;
      flex-direction: column;
      > img {
        width: 100%;
        border: 1px solid $green;
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        transform: translateY(-1px);
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .workshop {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .workshops {
    .workshop {
      flex-direction: column !important;
      .column {
        flex-direction: row;
        margin: 0;
        &:last-child {
          padding-left: 0 !important;
        }
        &.workshop-image {
          width: 100%;
          > img {
            height: 100%;
            width: 50% !important;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
